<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Semana-2-Juego-de-Memoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3A6F1911D8DB6BC002DD686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A6F1A51D8DB6BD002DD686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A6F1B01D8DB6BD002DD686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
